@model DetailViewModel;
@{
    ViewBag.Title = "Set modifications";
}
<form method="post">
    <div class="mb-3 row">
        <div class="col">
            <samp>@Model.Manufacturer.Name</samp>
        </div>
        <div class="col">
            <samp>@Model.TypeDetail.Name</samp>
        </div>
    </div>
    <div class="form-group">
        @foreach (var m in Model.AllModifications) {
            <input type="checkbox" name="modificationIds" value="@m.Id"
               @foreach(var s in Model.SelectedModifications) {
                    if(m.Id == s.Id){
                         @Html.Raw("checked=\"checked\"");
                         break;
                    }
               } />
            @m.Name <br />

        }
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>