@model DetailViewModel;
@{
    ViewBag.Title = "Set modifications";
}
<form method="post">
    <div class="mb-3 row">
        <div class="col">
            <samp>@Model.Manufacturer.Name</samp>
        </div>
        <div class="col">
            <samp>@Model.TypeDetail.Name</samp>
        </div>
    </div>
    <div class="form-group">
        @for(int i = 0; i < Model.Modifications.Count; i++) {
             @Html.CheckBoxFor(m => m.Modifications[i].Selected);
             <input type="hidden" name="Modifications[@i].Id" value="@Model.Modifications[i].Id" />
             <input type="hidden" name="Modifications[@i].ModelId" value="@Model.Modifications[i].ModelId" />
            <label for="@Model.Modifications[i].Id">@Model.Modifications[i].Name</label>
            <br />
        }
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ManufacturerId" value="@Model.Manufacturer.Id" />
    <input type="hidden" name="TypeDetailId" value="@Model.TypeDetail.Id" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>