@model ModelViewModel
@{
    ViewBag.Title = Model.IsNew ? "New model" : "Edit model";
}
<form method="post">
    <div class="mb-3 row">
        <div class="col">
            <label for="BrandId" class="form-label">Марка</label>
        </div>
        <div class="col">
            <select id="BrandId" name="BrandId" class="form-select">
                @foreach (var brand in ViewBag.Brands) {
                    <!option value="@brand.Id" @((brand.Id == Model.BrandId) ? "selected" : "")>@brand.Name</!option>
                }
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="Type" class="form-label">Тип</label>
        </div>
        <div class="col">
            <select id="Type" name="TypeTransportId" class="form-select">
                @foreach (var typeTransport in ViewBag.TypesTransport) {
                    <!option value="@typeTransport.Id" @((typeTransport.Id == Model.TypeTransportId) ? "selected" : "")>@typeTransport.Name</!option>
                }
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="Name" class="form-label">Name</label>
        </div>
        <div class="col">
            <input type="text" name="Name" value=@Model.Name class="form-control" />
        </div>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">@(Model.IsNew ? "Add" : "Edit")</button>
</form>